<h3>MidiPorts</h3>

<div>
	<h1 class="text-center font-bold italic">MIDI IN</h1>
	<ul
		class="outline-dark-50 h-16 overflow-y-scroll rounded-sm outline"
	>
		@* Midi Port List Code*@
	</ul>
</div>

@code {

}
