div.windowMain {
    background-color: rgb(203, 184, 184);
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
}

div.windowRightBar {
    display: fixed;
    background-color: rgb(116, 115, 117);
    position: fixed;
    width: 50%; 
    height: 100%;
    top: 0px;
    left: 50%;
    align-content: center; 
    justify-content: center; 
    overflow: scroll;
}

div.deviceDiv {
    position: flex;
    width: 100% - 10px;
    min-height: 200px;
    background-color: #5086ad;
    margin: 5px;
}

div.deviceInfo {
    display: flex;
    justify-content: space-between;
}

b.deviceInfo {
    margin: 5px;
    font-size: 20px;
}